@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-hashtag-khaki {
 background: #615800; 
}

.bg-hashtag-green {
    background: #375C39;
}

@layer base {
  html {
    font-size: 18px;
  }
    h1 {
      @apply text-4xl;
      @apply font-bold;
      
    }
    h2 {
      @apply text-2xl;
      @apply font-bold;
      
    }
    h3 {
      @apply text-xl;
      @apply font-bold;

    }
    h3, h2, h1 {
      @apply mb-4
    }

    p {
      @apply mb-4
    }
    a {
      @apply text-blue-600 underline;
    }
    
    blockquote {
      background: inherit;
      border-left: 10px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }
    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote p {
      display: inline;
    }
    
    
  }