* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  
  body {
    background: #050014;
    -webkit-font-smoothing: antialiased;
    color: #DCD8E8;
    font-family: "Montserrat", serif; }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  
  a {
    text-decoration: none;
    color: inherit; }
  
  h1, h2, h3, h4, h5 {
    font-family: "Playfair Display";
    font-weight: normal; }
  
  p {
    letter-spacing: .01em;
    line-height: 1.6;
    font-size: 1rem; }
  
  ul {
    list-style: none; }
  
  .section {
    padding: 100px 25px; }
  
  .active {
    color: #7C6EA9; }
  
  .section-heading {
    font-size: 26px;
    padding: 1em 0; }
    .section-heading::after {
      content: "";
      display: block;
      width: 40vw;
      max-width: 400px;
      height: 1px;
      background-color: #a8b2d1;
      position: relative;
      margin-left: 10px; }
  
  .shadow {
    -webkit-box-shadow: 0 10px 6px -6px #7C6EA9;
    -moz-box-shadow: 0 10px 6px -6px #7C6EA9;
    box-shadow: 0 10px 6px -6px #7C6EA9; }
  
  .secondary-color {
    color: #7C6EA9; }
  
  .first-fade {
    opacity: 0;
    transform: translateY(20px); }
  
  .second-fade {
    opacity: 0; }
  
  .large-screen-nav {
    width: 100%;
    display: none; }
    .large-screen-nav__orientation-left {
      position: fixed;
      height: 100vh;
      width: 50px;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .large-screen-nav__orientation-top-right {
      position: fixed;
      right: 0px;
      top: 0; }
    .large-screen-nav__orientation-bottom-right {
      position: fixed;
      right: 0;
      bottom: 0; }
    .large-screen-nav__list {
      list-style: none;
      font-size: 2vh; }
    .large-screen-nav__list-item {
      padding: 0 0.5em;
      display: flex;
      justify-content: center; }
    .large-screen-nav__link {
      text-decoration: none;
      width: 15px;
      text-align: center;
      transition: all 0.1s ease; }
      .large-screen-nav__link::after {
        content: "";
        display: block;
        width: 1px;
        height: 5vh;
        background-color: #a8b2d1;
        margin: 0px auto;
        opacity: 0.3; }
      .large-screen-nav__link::before {
        content: "";
        display: block;
        width: 1px;
        height: 5vh;
        background-color: #a8b2d1;
        margin: 0px auto;
        opacity: 0.3; }
      .large-screen-nav__link:hover {
        color: #7C6EA9; }
    .large-screen-nav__resume-wrapper, .large-screen-nav__email-wrapper {
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      position: relative; }
    .large-screen-nav__resume-wrapper::before {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      background-color: #a8b2d1;
      margin: 0px auto; }
    .large-screen-nav__email-wrapper::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      background-color: #a8b2d1;
      margin: 0px auto; }
    .large-screen-nav__resume-link, .large-screen-nav__email-link {
      writing-mode: vertical-rl;
      margin: 20px auto;
      padding: 10px;
      font-size: 16px;
      opacity: 0.5;
      transition: all 0.1s; }
      .large-screen-nav__resume-link:hover, .large-screen-nav__email-link:hover {
        color: #7C6EA9;
        opacity: 1;
        cursor: pointer; }
    .large-screen-nav--active {
      color: #7C6EA9; }
  
  .mobile-screen {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 70; }
    .mobile-screen__button {
      margin: 1rem;
      border: none;
      outline: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0; }
    .mobile-screen__line {
      fill: none;
      stroke: #DCD8E8;
      stroke-width: 2;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }
    .mobile-screen__line1 {
      stroke-dasharray: 60 207;
      stroke-width: 2; }
    .mobile-screen__line2 {
      stroke-dasharray: 60 60;
      stroke-width: 2; }
    .mobile-screen__line3 {
      stroke-dasharray: 60 207;
      stroke-width: 2; }
    .mobile-screen__opened .mobile-screen__line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 2; }
    .mobile-screen__opened .mobile-screen__line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 2; }
    .mobile-screen__opened .mobile-screen__line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 2; }
    .mobile-screen__side-bar {
      position: absolute;
      right: 0;
      top: 0;
      width: 70vw;
      height: 100vh;
      background: #050014e0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1;
      transform: translateX(100%);
      transition: transform 0.4s ease; }
    .mobile-screen__list {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .mobile-screen__list-item {
      margin: 1.5rem 0; }
      .mobile-screen__list-item span {
        font-family: "Playfair Display";
        font-size: 1.8rem; }
    .mobile-screen__list-item--resume {
      border: solid #7C6EA9 1px;
      padding: 1rem 1.5rem;
      margin-top: 2rem; }
      .mobile-screen__list-item--resume:focus {
        color: #DCD8E8;
        border: #DCD8E8; }
  
  .mobile-dark-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(#050014 0%, 50%, #05001400);
    z-index: 60; }
  
  .home-page {
    height: 100vh;
    padding: 200px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .home-page__title {
      line-height: 34px;
      font-size: 40px; }
    .home-page__content {
      font-size: 18px;
      margin: 1em 0;
      color: #DCD8E890; }
    .home-page--sub-heading {
      font-size: 30px; }
    .home-page__link-wrapper {
      padding: 2em 0; }
    .home-page__link {
      border-radius: 20px;
      font-size: 18px;
      border: solid 1px;
      padding: 1em 2em;
      text-align: center;
      background: inherit;
      border-color: #7C6EA9;
      color: #7C6EA9;
      transition: all 0.3s ease; }
      .home-page__link:hover {
        background: #7C6EA940;
        border-color: #7C6EA940;
        color: #DCD8E8; }
  
  .about__title-container {
    display: flex; }
  .about__body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .about__body:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background: #050014;
      height: 50px;
      width: 100%;
      z-index: -1; }
    .about__body:after {
      content: "";
      background: rgba(64, 47, 120, 0.2);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 0;
      position: absolute;
      z-index: -2; }
    .about__body h4, .about__body p {
      margin: 1rem 0; }
    .about__body h4 {
      font-family: "Montserrat";
      letter-spacing: 0.15em;
      opacity: 0.6; }
    .about__body h3 {
      font-size: 2rem; }
  .about__title {
    display: flex;
    align-items: center; }
  .about__image-container {
    width: 255px;
    height: 307px;
    position: relative;
    margin: 1rem;
    opacity: 1; }
    .about__image-container:hover .about__overlay {
      opacity: 0;
      transition: opacity 0.2s ease-in-out; }
  .about__text {
    padding: 1rem; }
  .about__list-container {
    display: flex;
    justify-content: space-around; }
  .about__item {
    padding: 0.5em 0;
    font-size: 14px; }
  
  .work__card {
    position: relative;
    margin: 2em 0;
    overflow: hidden; }
  .work__title-container {
    display: flex; }
  .work__title {
    display: flex;
    align-items: center; }
  .work__overlay {
    background: rgba(64, 47, 120, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4; }
  .work__image-container {
    width: 100%;
    min-height: 100%;
    position: relative; }
  .work__body {
    padding: 1rem;
    background: rgba(64, 47, 120, 0.2); }
  .work__header {
    display: flex;
    justify-content: space-between; }
  .work__icon {
    width: 28px;
    height: 28px;
    margin-right: 1em; }
    .work__icon:hover .work__svg-path {
      fill: #7C6EA9; }
  .work__svg-path {
    transition: fill 0.1s ease-in; }
  .work__application-title, .work__project-title {
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem; }
  .work__content {
    padding: 1em 0;
    text-align: justify;
    text-justify: inter-word; }
  .work__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    opacity: 0.8;
    font-size: 14px; }
  .work__drop-the-needle:hover .work__overlay, .work__home-page:hover .work__overlay, .work__lpf:hover .work__overlay {
    opacity: 0;
    transition: opacity 0.2s; }
  
  .contact__body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .contact__body:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background: #050014;
      height: 50px;
      width: 100%;
      z-index: -1; }
    .contact__body:after {
      content: "";
      background: rgba(64, 47, 120, 0.2);
      width: 100%;
      height: 100%;
      top: 0;
      padding: 0;
      position: absolute;
      z-index: -2; }
  .contact__title-container {
    display: flex; }
  .contact__title {
    display: flex;
    align-items: center; }
  .contact__image-container {
    width: 255px;
    position: relative;
    opacity: 1; }
  .contact__content {
    padding: 1rem;
    padding-bottom: 2rem;
    width: 100%; }
    .contact__content h3 {
      font-size: 2rem;
      margin: 1rem 0; }
    .contact__content p {
      margin: 1rem 0; }
  .contact__text {
    padding-bottom: 1rem; }
  .contact__form {
    width: 100%; }
    .contact__form p {
      margin: 1rem 0; }
    .contact__form textarea, .contact__form input {
      background: rgba(64, 47, 120, 0.5);
      border-color: rgba(64, 47, 120, 0.5);
      padding: 0.5rem;
      margin: 0.5rem 0;
      color: #DCD8E8;
      font-family: "Montserrat";
      width: 100%; }
      .contact__form textarea:focus, .contact__form input:focus {
        outline: 0;
        border: 1px solid #61899A; }
    .contact__form label {
      display: flex; }
      .contact__form label:after {
        content: "*";
        color: red;
        margin-left: 0.5rem; }
    .contact__form button {
      width: 100%;
      background: #402f78;
      padding: 0.5rem;
      color: #DCD8E8;
      border: none;
      font-family: inherit; }
  
  .footer__content {
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding: 1em; }
  
  @media only screen and (min-width: 700px) {
    .section {
      padding: 100px 80px; }
  
    .section-heading::after {
      margin-left: 20px; }
  
    .large-screen-nav {
      display: block; }
  
    .mobile-screen, .mobile-dark-shadow {
      display: none; }
  
    .home-page {
      padding: 200px 100px; }
      .home-page__title {
        min-font-size: 60px;
        font-size: 6vw;
        line-height: 50px; }
      .home-page__content {
        font-size: 20px;
        width: 500px;
        line-height: 1.3em;
        letter-spacing: 1px; }
      .home-page--sub-heading {
        font-size: 40px; }
  
    .work__card {
      display: flex;
      margin: 4em 0; }
    .work__image-container {
      width: 50%;
      min-height: 300px; }
    .work__body {
      width: 50%;
      padding: 30px 20px; } }
  @media only screen and (min-width: 800px) {
    .about__body {
      justify-content: space-between;
      flex-wrap: nowrap;
      margin-top: 2rem; }
      .about__body h4 {
        margin-top: 0; }
      .about__body:before {
        content: none; }
      .about__body:after {
        content: "";
        background: rgba(64, 47, 120, 0.2);
        width: 80%;
        height: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: absolute;
        top: -2rem; }
    .about__text {
      padding: 2rem; }
    .about__image-container {
      order: 1;
      width: 333px;
      height: 350px;
      margin: 0 auto; }
    .about__content {
      width: 60%;
      max-width: 50vw;
      margin-right: 2em; }
  
    .contact__body {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 2rem; }
      .contact__body:before {
        content: none; }
      .contact__body:after {
        content: "";
        background: rgba(64, 47, 120, 0.2);
        width: 80%;
        height: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        right: 0;
        top: -2rem; }
    .contact__content {
      padding: 2rem; }
    .contact__form {
      padding: 0; }
    .contact__image-container {
      width: 40%;
      height: 450px;
      margin: 0;
      margin-right: 2rem;
      overflow: hidden; } }
  @media only screen and (min-width: 1400px) {
    main {
      padding: 0 5vw; }
  
    .section-heading {
      font-size: 40px;
      padding: 40px 0; }
  
    .section {
      padding: 100px 170px; }
  
    .button {
      font-size: 20px; }
  
    .large-screen-nav {
      width: 100%; }
      .large-screen-nav__orientation-left {
        left: 20px; }
      .large-screen-nav__orientation-top-right {
        right: 20px; }
      .large-screen-nav__orientation-bottom-right {
        right: 20px; }
  
    .home-page {
      padding: 150px 170px; }
      .home-page__title {
        font-size: 80px;
        line-height: 70px; }
      .home-page__content {
        font-size: 20px;
        width: 500px;
        line-height: 1.3em;
        letter-spacing: 1px; }
      .home-page__link {
        width: 200px;
        height: 80px; }
      .home-page--sub-heading {
        font-size: 60px; } }
  @media only screen and (max-height: 500px) {
    .large-screen-nav__orientation-bottom-right {
      display: none; } }
  .fade-up {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.7s ease-in-out; }
  
  .fade {
    opacity: 1;
    transition: all 01s ease-in-out; }
  
  /*# sourceMappingURL=style.css.map */
  