
//Variables
$primary-color: #DCD8E8;
$secondary-color: #7C6EA9;
$third-color: #61899A;
$bg-color: #050014;
$secondary-bg-color: rgba(64, 47, 120, 0.2);
$third-bg-color: #AA94F3;

$breakpoint-laptop: 1000px;

$headings: 'Playfair Display';
$main-font: 'Montserrat';

//pre styles
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: $bg-color;
	-webkit-font-smoothing: antialiased;
	color: $primary-color;
	font-family:  $main-font, serif,;
}

img {	
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5 {
	font-family: $headings;
	font-weight: normal;
}

p {
	letter-spacing: .01em;
	line-height: 1.6;
	font-size: 1rem;
}

ul {
	list-style: none;
}

//tools 

.section {
	padding: 100px 25px;
}

.active {
	color: $secondary-color;
}

.section-heading {
	font-size: 26px;
	padding: 1em 0;

	&::after {
	    content: "";
	    display: block;
	    width: 40vw;
	    max-width: 400px;
	    height: 1px;
	    background-color: rgb(168, 178, 209);
	    position: relative;
		margin-left: 10px;
	}	
}

.shadow {
  	-webkit-box-shadow: 0 10px 6px -6px #7C6EA9;
	-moz-box-shadow: 0 10px 6px -6px #7C6EA9;
	box-shadow: 0 10px 6px -6px #7C6EA9;
}

.secondary-color {
	color: $secondary-color;
}



.first-fade {
	opacity: 0;
	transform: translateY(20px);
}

.second-fade {
	opacity: 0;
}

.large-screen-nav {
	width: 100%;
	display: none;


	&__orientation-left {
		position: fixed;
		height: 100vh;
		width: 50px;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__orientation-top-right {
		position: fixed;
		right: 0px;
		top: 0;
	}

	&__orientation-bottom-right {
		position: fixed;
		right: 0;
		bottom: 0;
	}

	&__list {
		list-style: none;
		font-size: 2vh;
	}

	&__list-item {
		padding: 0 0.5em;
		display: flex;
		justify-content: center;

	}

	&__link {
		text-decoration: none;
		width: 15px;
		text-align: center;
		transition: all 0.1s ease;

		&::after {
		    content: "";
		    display: block;
		    width: 1px;
		    height: 5vh;
		    background-color: rgb(168, 178, 209);
		    margin: 0px auto;
		    opacity: 0.3;
		}

		&::before {
		    content: "";
		    display: block;
		    width: 1px;
		    height: 5vh;
		    background-color: rgb(168, 178, 209);
		    margin: 0px auto;
		    opacity: 0.3;
		}

		&:hover {
			color: $secondary-color;

		}
	}


	&__resume-wrapper, &__email-wrapper {
		display: flex;
	    flex-direction: column;
	    -webkit-box-align: center;
	    align-items: center;
	    position: relative;
	}
	&__resume-wrapper {
	    &::before {
			content: "";
		    display: block;
		    width: 1px;
		    height: 90px;
		    background-color: rgb(168, 178, 209);
		    margin: 0px auto;
		}
	}
	&__email-wrapper {
	    &::after {
			content: "";
		    display: block;
		    width: 1px;
		    height: 90px;
		    background-color: rgb(168, 178, 209);
		    margin: 0px auto;
		}
	}	
	&__resume-link, &__email-link {
		writing-mode: vertical-rl;
		margin: 20px auto;
    	padding: 10px;
    	font-size: 16px;
    	opacity: 0.5;
    	transition: all 0.1s;

    	&:hover {
    		color: $secondary-color;
    		opacity: 1;
    		cursor: pointer;
    	}
	}

	&--active {
		color: $secondary-color;
	}
}

.mobile-screen {
	
	top: 0;
	right: 0;
	position: fixed;
	z-index: 70;
	

	&__button {
		margin: 1rem;
		border: none;
		outline: none;
		background-color: transparent;
		border: none;
		cursor: pointer;
		display: flex;
		padding: 0;
	}

	&__line {
	  fill: none;
	  stroke: $primary-color;
	  stroke-width: 2;
	  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
	    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__line1 {
	  stroke-dasharray: 60 207;
	  stroke-width: 2;
	}
	&__line2 {
	  stroke-dasharray: 60 60;
	  stroke-width: 2;
	}
	&__line3 {
	  stroke-dasharray: 60 207;
	  stroke-width: 2;
	}
	&__opened &__line1 {
	  stroke-dasharray: 90 207;
	  stroke-dashoffset: -134;
	  stroke-width: 2;
	}
	&__opened &__line2 {
	  stroke-dasharray: 1 60;
	  stroke-dashoffset: -30;
	  stroke-width: 2;
	}
	&__opened &__line3 {
	  stroke-dasharray: 90 207;
	  stroke-dashoffset: -134;
	  stroke-width: 2;
	}

	&__side-bar {
		position: absolute;
		right: 0;
		top: 0;
		width: 70vw;
		height: 100vh;
		background: #050014e0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: -1;
		transform: translateX(100%);
		transition: transform 0.4s ease;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__list-item {
		margin: 1.5rem 0;
		span {
			font-family: $headings;
			font-size: 1.8rem;
		}
	}

	&__list-item--resume {
		border: solid $secondary-color 1px;
		padding: 1rem 1.5rem;
		margin-top: 2rem;

		&:focus {
			color: $primary-color;
			border: $primary-color;
		}
	}
}

.mobile-dark-shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: linear-gradient(#050014 0%, 50%, #05001400);
	z-index: 60;
}

.home-page {
	height: 100vh;
	padding: 200px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	&__title {
		line-height: 34px;
		font-size: 40px;

	}


	&__content {
		font-size: 18px;
		margin: 1em 0;
		color: #DCD8E890;
	}

	&--sub-heading {
		font-size: 30px;
	}

	&__link-wrapper {
		padding: 2em 0;
	}

	&__link {
		border-radius: 20px;
		font-size: 18px;
		border: solid 1px;
		padding: 1em 2em;
		text-align: center;
		background: inherit;
		border-color: $secondary-color;
		color: $secondary-color;
		transition: all 0.3s ease;

		&:hover {
			background: #7C6EA940;
			border-color: #7C6EA940;
			color: $primary-color;
		}
	}
}

.about {

	&__title-container {
		display: flex;
	}

	&__body {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		&:before {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			background: $bg-color;
			height: 50px;
			width: 100%;
			z-index: -1;
		}
		&:after {
				content: "";
				background: $secondary-bg-color;
			    width: 100%;
			    height: 100%;
			    top: 0;
			    left: 0;
			    padding: 0;
			    position: absolute;
			    z-index: -2;
			}

		h4, p {
			margin: 1rem 0;
		}

		h4 {
			font-family: $main-font;
			letter-spacing: 0.15em;
			opacity: 0.6;
		}

		h3 {
			font-size: 2rem;
		}
	}

	&__title {
		display: flex;
		align-items: center;
	}

	&__image-container {
		width: 255px;
		height: 307px;
		position: relative;
		margin: 1rem;
		opacity: 1;

		&:hover .about__overlay {
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
		}
	}

	&__text {
		padding: 1rem;
	}

	&__list-container {
		display: flex;
		justify-content: space-around;
	}

	&__item {
		padding: 0.5em 0;
		font-size: 14px;
	}
}

.work {
	&__card {
		position: relative;
		margin: 2em 0;
		overflow: hidden;

	}

	&__title-container {
		display: flex;
	}
	&__title {
		display: flex;
		align-items: center;
	}
	&__overlay {
		background: rgba(64, 47, 120, 0.5);
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 4;
	}
	&__image-container {
		width: 100%;
		min-height: 100%;
		position: relative;
	}
	&__body {
		padding: 1rem;
		background: $secondary-bg-color;
	}
	&__header {
		display: flex;
		justify-content: space-between;
	}


	&__icon {
		width: 28px;
		height: 28px;
		margin-right: 1em;

		&:hover .work__svg-path {
			fill: $secondary-color;	

		}
	}

	&__svg-path {
		transition: fill 0.1s ease-in;
	}

	&__application-title, &__project-title {
		display: flex;
		justify-content: flex-end;
		font-size: 1.2rem;
	}
	&__content{
		padding: 1em 0;
		text-align: justify;
  		text-justify: inter-word;
	}
	&__list {
		list-style: none;
		display: flex;
		justify-content: space-around;
		padding: 1em 0;
		opacity: 0.8;
		font-size: 14px;
	}

	&__drop-the-needle:hover &__overlay, &__home-page:hover &__overlay, &__lpf:hover &__overlay  {
		opacity: 0;
		transition: opacity 0.2s;
	}
}

.contact {

	&__body {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		&:before {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			background: $bg-color;
			height: 50px;
			width: 100%;
			z-index: -1;
		}
		&:after {
				content: "";
				background: $secondary-bg-color;
			    width: 100%;
			    height: 100%;
			    top: 0;
			    padding: 0;
			    position: absolute;
			    z-index: -2;
			}
	}

	&__title-container {
		display: flex;
	}

	&__title {
		display: flex;
		align-items: center;
	}

	&__image-container {
		width: 255px;
		position: relative;
		opacity: 1;
	}

	

	&__content {
		padding: 1rem;
		padding-bottom: 2rem;
		width: 100%;

		h3 {
			font-size: 2rem;
			margin: 1rem 0;
		}

		p {
			margin: 1rem 0;
		}
	}

	&__text {
		padding-bottom: 1rem;
	}

	&__form {
		width: 100%;

		p {
			margin: 1rem 0;
		}

		textarea, input {
			background: rgba(64, 47, 120, 0.5);
			border-color: rgba(64, 47, 120, 0.5);
			padding: 0.5rem;
			margin: 0.5rem 0;
			color: $primary-color;
			font-family: $main-font;	
			width: 100%;

			&:focus {
				outline: 0;
				border: 1px solid $third-color;
			}
		}



		label {
			display: flex;

			&:after {
				content: "*";
				color: red;
				margin-left: 0.5rem;
			}
		}

		button {
			width: 100%;
			background: rgba(64, 47, 120, 1);
			padding: 0.5rem;
			color: $primary-color;
			border: none;
			font-family: inherit;
		}
	}

}

.footer {
	&__content {
		font-size: 12px;
		display: flex;
		justify-content: center;
		padding: 1em;
	}
}



@media only screen and (min-width: 700px) {

	.section {
		padding: 100px 80px;
	}

	.section-heading {
		&::after {
			margin-left: 20px;
		}
	}

	.large-screen-nav  {
		display: block;
	}

	.mobile-screen, .mobile-dark-shadow {
		display: none;
	}


	.home-page {
		padding: 200px 100px;

		&__title {
			min-font-size: 60px;
			font-size: 6vw;
			line-height: 50px;
		}

		&__content {
			font-size: 20px;
			width: 500px;
			line-height: 1.3em;
			letter-spacing: 1px;
		}

		&--sub-heading {
		font-size: 40px;
		}
	}

	.work {
		&__card {
			display: flex;
			margin: 4em 0 ;
		} 
		&__image-container {
			width: 50%;
			min-height: 300px;
		}
		&__body {
			width: 50%;
			padding: 30px 20px;
		}
	}

	

	
}

@media only screen and (min-width: 800px) {
	.about {

		&__body {
			justify-content: space-between;
			flex-wrap: nowrap;
			margin-top: 2rem;

			& h4 {
				margin-top: 0;
			}

			&:before {
				content: none;
			}

			&:after {
				content: "";
				background: $secondary-bg-color;
				width: 80%;
			    height: 100%;
			    padding-top: 2rem;
			    padding-bottom: 2rem;
			    position: absolute;
			    top: -2rem;
			}
		}

		&__text {
			padding: 2rem;
		}

		&__image-container {
			order: 1;
			width: 333px;
			height: 350px;
			margin: 0 auto;
			
		}

		&__content {
			width: 60%;
			max-width: 50vw;
			margin-right: 2em;
		}
	
	}

	.contact {

		&__body {
			display: flex;
			flex-wrap: nowrap;
			margin-top: 2rem;

			&:before {
				content: none;
			}

			&:after {
				content: "";
				background: $secondary-bg-color;
				width: 80%;
			    height: 100%;
			    padding-top: 2rem;
			    padding-bottom: 2rem;
			    right: 0;
			    top: -2rem;
			}
		}
		&__content {
			padding: 2rem;
		}
		&__form {
			padding: 0;
		}
		&__image-container {
			width: 40%;
			height: 450px;
			margin: 0;
			margin-right: 2rem;
			overflow: hidden
			
		}
	}
}


@media only screen and (min-width: 1400px) {

	main {
		padding: 0 5vw;
	}

	.section-heading {
		font-size: 40px;
		padding: 40px 0;
	}

	.section {
		padding: 100px 170px;
	}

	.button {
		font-size: 20px;
	}

	.large-screen-nav {
		width: 100%;

		&__orientation-left {
			left: 20px;
		}

		&__orientation-top-right {
			right: 20px;

		}

		&__orientation-bottom-right {
			right: 20px;
		}
	}


	.home-page {
		padding: 150px 170px;

		&__title {
			font-size: 80px;
			line-height: 70px;
		}

		&__content {
			font-size: 20px;
			width: 500px;
			line-height: 1.3em;
			letter-spacing: 1px;
		}

		&__link {
			width: 200px;
			height: 80px;
		}

		&--sub-heading {
		font-size: 60px;
		}

	}
	
}

@media only screen and (max-height: 500px) {
	.large-screen-nav__orientation-bottom-right {
		display: none;
	}
}


.fade-up {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.7s ease-in-out;
}

.fade {
	opacity: 1;
	transition: all 01s ease-in-out;
}